---
import ARTICULOS from '../components/articles/articulo';
import '../css/index.css';
import Layout from '../layouts/Layout.astro';

type Articulo = {
	title: string;
  subTitle?: string;
	description: string;
	body: string | string[];
	image?: string[],
	date?: string;
	link?: string;
}

// const paginaActual = Astro.url.pathname.split('/').pop()

let recopilacion: Articulo[] = [];

ARTICULOS.map((exp) => {
		recopilacion.push({...exp})
})

---

<Layout
	title="AMPA Fernando Magallanes de Marbella",
	description="Asociación de Padres y Madres Fernando Magallanes del CEIP Santa Teresa de Marbella">
	<main>
		<h1>Bienvenidos</h1>
		<div class="mainBoxGrid">
		{recopilacion.map((exp) => (
			<a href={exp.description}>
			  <section class="mainLitleBox">
				<h2 class="maintitle">{exp.title}</h2>
				<div class="oneImage">
					<img src={exp.image?.[0]} alt="imagen" class="img" />
				</div>
        <p class="subText">{exp.subTitle}</p>
				</section>
				  <p>{exp.link}</p>
				  {/* <p class="date">{exp.date}</p> */}
			</a>
		  ))}
			</>
		  </div>
	</main>
</Layout>