---

import NEWS from '../components/articles/news';
import '../css/activitiesNews.css';
import Layout from "../layouts/Layout.astro";

type Articulo = {
	title: string,
	description: string;
	body: string | string[];	
	image?: string[],
	date?: string;
	link?: string;
}

/* const paginaActual = Astro.url.pathname.split('/').pop()

let recopilacion: Articulo[] = [];

ARTICULOS.map((exp) => {
	if(exp.description === paginaActual){
		recopilacion.push({...exp})
	}
}) */
---
<Layout
	title="AMPA Fernando Magallanes de Marbella"
	description="Las noticias y eventos que sucedan en el AMPA y el Cole">
	<section>
		<h1>Noticias</h1>
		{NEWS.map((exp) => (
			<section class="mainbox">
          <h2 class="maintitle">{exp.title}</h2>
          <section class="oneSection">
            <div class="mainDiv">
              {typeof exp.body === "string" ? (
                <p class="textPg">{exp.body}</p>
              ) : (
                exp.body.map((item) => <p class="textPg">{item}</p>)
              )}
            </div>
            <div class="imagesBox">
              {exp.image?.map((item) => (
                <img src={item} alt="imagen" class="images" />
              ))}
            </div>
          </section>
          <section>
            {/* <p>{exp.link}</p> */}
            <p class="textPg">{exp.date}</p>
          </section>
        </section>
		))}
	</section>
</Layout>