---

interface Props {
	title: string
	body: string[] | string
	link?: string
	date: string
	description: string
	image?: string[]
}

const {title, body, link, date, image} = Astro.props

---

<section class="mainBox">
	<h2>{title}</h2>
	<section class="middle">
		<div class="body">
		{typeof body === 'string' ? (
			<p class="body">{body}</p>
		) : (
			body.map((item: string) =>(
				<p class="body">{item}</p>
			))
		)}
	</div>
		<div>{image?.map((img) =>(
			<img class="imagen" src={img} alt="imagen" />
		))}</div>
	</section>
	<p>{link}</p>
	<p class="date">{date}</p>
</section>

<style>
	.mainBox {
		margin-top: 15px;
		background-color: var(--main-orange);
		border-radius: 15px;
		padding-left: 20px;
		padding-right: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	h2 {
		text-decoration:underline;
		color: var(--main-blue);
		margin: 10px;
	}
	.middle{
		height: auto;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.imagen{
		width: 40vh;
	}
	.body {
		display: flex;
		flex-direction: column;
		font-weight: normal;
	}
	.date {
		margin-bottom: 10px;
	}

</style>